/* QRCodeGenerator.css */

/* Center align the container */
.container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

/* Style the heading */
h1 {
  font-family: fantasy;
  margin-bottom: 20px;
}

/* Style the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style checkboxes and labels */
.form-check {
  display: flex;
  align-items: center;
  margin: 2px 0px 2px 2px;
}

.form-check-input {
  margin-right: 10px;
}

/* Style the select element */
.form-select {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  padding: 5px;
}

/* Style the date pickers */
.react-datepicker-wrapper {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

/* Style the Generate QR Code button */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style the QR Code container */
.mt-3 {
  text-align: center;
}

/* Style the QR Code heading */
h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Style the QR Code */
.qr-code {
  max-width: 200px;
  margin: 0 auto;
}
